<div class="wrapper">
    <div class="add"><button mat-raised-button color="primary" (click)="openDialog()">+ Add New Track Number</button>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div>
        <div *ngFor="let document of documents$ | async">
            <app-document [document]="document"></app-document>
        </div>
    </div>
    <div *ngIf="!(documents$|async)[0]&&!loading" class="empty">
        <mat-card>
            <mat-card-content>
                <h1>You don't have any tracking numbers yet. Don't panic! </h1>
                <h1>You can add your first tracking number here.</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>