@import "../../../../node_modules/@angular/material/theming";
@include mat-core();

@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  header {
    background-color: mat-color($background, status-bar);
  }

  .title {
      color: mat-color($primary);
  }
}
