.wrapper {
  display: flex;
  height: 8vh;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.wrapper div {
  width: 100%;
  padding: 40px;
  display: flex;
}

.title {
  justify-content: flex-start;
}

.title h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.logout {
  justify-content: flex-end;
}
