  
.wrapper {
    min-height: 82vh;
  }
  
  .login-container {
    width: 400px;
    margin: auto;
  
    .login-form {
      flex-direction: column;
      display: flex;
    }
  }
  
  .register {
    margin-left: 18px;
    text-decoration: none;
    color: #7b1fa2;
    font-size: 14px;
  }
  
  h1 {
    color: #7b1fa2;
  }
  
  h3 {
    color: #7b1fa2; 
  }

  .errMessage {
    color: red;
  }