.card {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #212121;
}

.menu-card {
  display: flex;
  // justify-content: flex-end;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  color: #9C27B0;
}

mat-progress-bar {
  margin-bottom: 20px;
}