@import "../node_modules/@angular/material/theming";  


@mixin body-theme($theme) {

    $primary: map-get($theme, primary);
    $accept: map-get($theme, accept);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    body {
        background-color: mat-color($background, card); 
    } 
  }